body{
    background-color: rgb(255, 255, 255);
}

h1{
    color:rgb(37, 14, 240);
    font-size: 50px;
    text-align: center;
}

p{
    color:rgb(233, 8, 8);
    font-size: 20px;
}


.styleP {
    color: rgb(11, 139, 18);
    font-size: 50px;

}
